*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    font-size: x-large;
    background-color: rgb(26, 55, 55);
    
}
main{
    font-size: large;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);;
}
.card {
    background-color: rgb(196, 204, 81);
}

.cards__motos{
    display: flex; 
    justify-content:space-around;
    margin-top: 1rem;
    background-color: rgba(208, 187, 140, 0.723);
}

.info__motos div{
    color: beige;
    background-color: rgb(26, 55, 55);
}
.info__motos h2{
    color:rgb(196, 204, 81);
}

.contacto__motos{
    display: flex;
    justify-content:space-between;
   margin-top: 1rem;

}
.contacto__motos form{
    color: beige;
}

footer{
    background-color: rgb(183, 206, 206);
}